# telegram bot configuration
BOT_TOKEN=
ADMIN_IDS=
LEAGUE_ADMIN_IDS=

# postgres configuration
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=football_bot
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=postgres

# redis configuration
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
USE_REDIS=True

# scraper configuration
SCRAPE_URL=https://olesports.ru/tournament/68fba38cd56d2ba191d6eaee
SCRAPER_ALLOWED_TOURNAMENTS=РЖД
SCRAPER_PLAYER_TOURNAMENT={division} (Лига 8x8, 2025/2026)
